.AboutMe__partical {
  background-color: #1c2135;
  height: auto;
}
.AboutMe__tagLine {
  width: auto;
  color: #d4ffe4;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin-top: -130px;
  padding-left: 20px;
  line-height: 28px;
}
.AboutMe__section {
  display: flex;
  background-color: #1c2135;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 100px;
  padding-left: 100px;
}
.AboutMe__sectionTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #d4ffe4;
  line-height: 25px;
  flex: 0.2;
  padding-top: 55px;
}
.AboutMe__sectionDetail {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  line-height: 16px;
  color: #d4ffe4;
  flex: 0.4;
  padding: 10px;
}
.AboutMe__sectionDetail:hover {
  padding: 10px;
  color: #1c2135;
  background-color: #d4ffe4;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .AboutMe__sectionDetail {
    line-height: 16px;
    flex: 0.6;
    padding: 10px;
  }
}
@media (max-width: 420px) {
  .AboutMe__section {
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .AboutMe__sectionTitle {
    padding-top: 50px;
    text-align: center;
  }
  .AboutMe__sectionDetail {
    line-height: 16px;
    padding: 10px;
  }

  .AboutMe__tagLine {
    margin-top: -15rem;
  }
}
