/* comment part*/
.comment_heading {
  background-color: #d4ffe4;
  position: absolute;
  right: 50px;
  margin-right: 0px;
}
.comment_heading ul {
  display: flex;
}
.comment_heading ul li {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 18px;
}
.comment_heading ul li a {
  text-decoration: none;
  color: Black !important;
}
.comment_heading ul li:nth-child(2) {
  margin-left: 10px;
}
.comment_heading ul li:nth-child(3) {
  margin-left: 10px;
}
.reacent_popular_heading {
  text-align: center;
  font-weight: 1000;
  padding-left: 60px;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 17px;
}
.effect1 figure img {
  margin-left: 30px;

  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.effect1 figure:hover img {
  margin-left: 0;
}
.effect1 figure {
  border-radius: 50px;
  width: 90px;
  height: 90px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
.effect1 figure:hover {
  bottom: -36px;
  opacity: 1;
}
.effect1 span {
  position: absolute;
  border-radius: 90px;
  padding: 3px;
  background-color: red;
  z-index: 1;
  color: white;
  font-size: 10px;
  margin-left: 10px;
  font-weight: bold;
}
.content {
  display: flex;
  padding-top: 27px;
}
.head h6 {
  color: Black;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  padding-top: 5px;
}
.head {
  padding-left: 20px;
}
.head a {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 800;
  text-decoration: none;
}
.head p {
  margin-top: -25px;
}
.images1 img {
  border-radius: 10px;
}
.images1 .cardLabel {
  height: 120px;
  width: 95%;
}
.card-container,
.front,
.back {
  width: 24rem;
  height: 12rem;
  margin-top: 20px;
}
.front,.back {
  box-sizing: border-box;
  padding: 0rem;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-align: center;
}
.back h6 {
  padding-top: 8px;
  text-transform: uppercase;
}
.card-container {
  position: relative;
}
.front {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.8s ease;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.8s ease;
  background-color: #ef9595;
  margin-top: 20px;
}
.back {
  transform: rotateY(180deg);
}
.card-container:hover .front {
  transform: rotateY(-180deg);
}
.card-container:hover .back {
  transform: rotateY(0deg);
}

.card-container {
  perspective: 75rem;
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .card-container,.front,.back {
    width: 22rem;
    height: 12rem;
  }
  .head h6 {
    width: 236px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .card-container,.front,.back {
    width: 104%;
    height: 12rem;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 768px) {
  .comment_heading ul li {
    font-size: 14px;
  }
  .comment_heading {
    right: 0px;
  }
  .content {
    padding-left: unset;
  }
  .head h6 {
    padding-top: 2px;
    width: 100%;
    font-size: 14px;
  }
  .head {
    margin-top: -12px;
  }
  .head p {
    margin-top: -30px;
    font-size: 12px;
  }
  .images1 {
    float: right;
  }
.images1 .cardLabel {
    height: 190px;
    width: 110%;
    float: right;
  }
  .card-container,
  .front,
  .back {
    width: 15rem;
    height: 9rem;
  }
}
@media only screen and (min-width: 10px) and (max-width: 360px) {
  .slider {
    padding-top: 0px;
  }
  .comment_heading {
    position: relative;
    right: 0px;
    margin-right: 0px;
    padding-bottom: 3rem;
  }
  .reacent_popular_heading {
    padding: 20px;
  }
  .comment_heading ul {
    padding-left: 0;
  }
  .head h6 {
    width: 200px;
  }
  .images1 .cardLabel {
    height: 190px;
    width: 600px;
  }
  .images1 {
    width: 335px;
  }
  .reacent_popular_heading {
    width: 350%;
  }
  .commnent_new {
    background-color: #d4ffe4;
    margin-top: -20px;
  }
  .content1 .img-fluid {
    max-width: 100%;
  }
  .card-container,.front,.back {
    width: 20.5rem;
    padding-bottom: 25px;
  }
}
