.readnext_container{
    display: grid;
    grid-template-columns: 100%;
    padding: 1.5rem;
    /* background-color: #d4ffe4; */
}


#loadMore {
    width: 50%;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: blue;
    transition: 0.3s;
    margin-bottom: 1.5rem;
  }
  #loadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
  }
  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  @media only Screen and (min-width: 768px) {
    .readnext_container {
      display: grid;
      grid-template-columns: 65% 30%;
      grid-gap: 5%;
      padding: 1rem 2rem;
    }

    #loadMore { 
      margin-right: 4rem;
      width: 25%;
    }
  }

  @media only Screen and (min-width: 1025px) {
    .readnext_container {
      padding: 1rem 3.5rem;

    }
  }